[Unit]
Description=Minecraft server
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash /usr/local/bin/minecraft/start.sh
ExecStop=/bin/bash /usr/local/bin/minecraft/stop.sh
TimeoutSec=600

[Install]
WantedBy=multi-user.target
