[Unit]
Description=Minecraft server for the Raspberry Pi 4 Model B 4GB RAM
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash /usr/local/bin/minecraftstart.sh
ExecStop=/bin/bash /usr/local/bin/minecraftstop.sh
TimeoutSec=600

[Install]
WantedBy=multi-user.target
