[Unit]
Description=Minecraft Server Startup for Raspberry Pi Server
After=network.target

[Service]
Type = forking
ExecStart = /usr/local/bin/./mcserver.sh start
ExecStop = /usr/local/bin/./mcserver.sh stop
ExecReload = /usr/local/bin/./mcserver.sh reload
TimeoutSec = 500

[Install]
WantedBy=multi-user.target
