backups
logs
banned-ips.json
banned-players.json
ops.json
saves/*
server.ip
server.jar
server.version
usercache.json
whitelist.json
server.properties
debug/
.fabric/
.mixin.out/
config/
fabric-server-launch.jar
fabric-server-launcher.properties
fabric.jar
mods/
